---
export const prerender = true;
import Layout from "@/layouts/Layout";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
	const frames = await getCollection("frame");
	return frames.map((frame) => ({
		params: { slug: frame.slug },
		props: { frame },
	}));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { frame } = Astro.props;
const { Content } = await frame.render();

const { title, options } = frame.data;

import { pathToSlug } from "../../../utils/content";
---

<Layout title={title}>
	<div class="flex flex-col gap-6 sm:gap-10">
		<main class="prose prose-sm prose-invert sm:prose-base prose-h1:text-2xl sm:prose-h1:text-3xl">
			<h1>{title}</h1>
			<Content />
		</main>
		{
			options && (
				<div class="flex flex-col gap-3 sm:gap-4">
					{options.map(({ frame, label }) => (
						<a
							class="block w-full rounded border border-slate-600 bg-slate-700 px-3 py-1.5 text-center text-sm font-medium text-white shadow-sm shadow-black/20 transition-colors hover:bg-slate-600 active:bg-slate-500 sm:px-4 sm:py-2 sm:text-base"
							href={`/frame/${pathToSlug(frame)?.toLowerCase()}`}
						>
							{label}
						</a>
					))}
				</div>
			)
		}
	</div>
</Layout>
