---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Experience the joys and perils of law, tech, and culture with this CPSC183-themed text adventure game."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | 183 Adventure</title>
  </head>
  <body class="font-mono bg-slate-900">
    <div class="absolute inset-0 flex items-center justify-center">
      <div class="px-5 py-8 sm:px-10 sm:py-20">
        <div class="max-w-xl w-full bg-slate-800 border border-slate-700 shadow-lg shadow-black/20 rounded-xl p-7 sm:p-12">
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
<style is:global></style>
